apache-tomcat-11.0.4/apache-tomcat-11.0.4/webapps/B2CPlatform/WEB-INF/schema/web-app_6_0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://jakarta.ee/xml/ns/jakartaee"
           xmlns="https://jakarta.ee/xml/ns/jakartaee"
           elementFormDefault="qualified"
           version="6.0">

  <xs:element name="web-app">
    <xs:complexType>
      <xs:sequence>
        <!-- 這裡你可以根據需要加上 servlet、servlet-mapping、context-param 等定義 -->
        <xs:element name="display-name" type="xs:string" minOccurs="0"/>
        <!-- 更多元素請參考官方完整 schema 文件 -->
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
